<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>James Newton</title>
        <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
        <meta content='width=device-width, initial-scale=1.0' name='viewport'>
        <script type="text/javascript" src="http://use.typekit.net/zaz2bts.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link href='assets/style.css' media='screen' rel='stylesheet'>
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
        <script src='assets/script.js'></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-43832701-1', 'jamesnewton.com');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <section id='presenting-james-newton'>
            <header>James Newton</header>
            <p>Cat owner, software developer</p>
        </section>

        <section id='about'>
            <div class='center'>
                <p>I'm James Newton, a software developer in the Orlando, FL area.</p>

                <p>I work at <a href='https://www.codeschool.com'>Code School</a>, a product of <a href='http://envylabs.com'>Envy Labs</a>.</p>
            </div>
        </section>

        <section id='blog'>
            <div class='center'>
                <h1>The latest from my blog:</h1>

                <article>
                    <header><%= post['title'] %></header>

                    <%= content %>

                    <p><a href='http://blog.jamesnewton.com'>Read more</a></p>
                </article>
            </div>
        </section>

        <section id='twitter'>
            <a href='https://twitter.com/jameswritescode' target='_blank'>
                <div class='center'>
                    <p>&ldquo;<%= get_last_tweet['text'] %>&rdquo;</p>
                    <div class='by'>@jameswritescode on <%= DateTime.parse(get_last_tweet['created_at']).strftime('%B %-m, %Y') %></div>
                </div>
            </a>
        </section>

        <section id='projects'>
            <div class='center'>
                <h1>Projects</h1>

                <p>This area isn't finish yet because I'm really bad at design. Eventually I'll think of a nice way to present this area!</p>

                <p>Until then, check me out on <a href='https://github.com/jameswritescode'>GitHub</a>!</p>
            </div>
        </section>

        <section id='contact'>
            <div class='center'>
                <p>That's me!</p>

                <p>If you'd like to reach out email me at <a href='mailto:hello@jamesnewton.com'>hello@jamesnewton.com</a></p>
            </div>
        </section>
    </body>
</html>
