!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %title James Newton - Resume
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: :viewport }
    %link{ href: '/stylesheets/resume.css', media: :screen, rel: :stylesheet, type: 'text/css' }
    %script{ src: 'https://use.typekit.net/ovs0cxj.js' }
    :javascript
      try{Typekit.load();}catch(e){}

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43832701-1', 'jamesnewton.com');
      ga('send', 'pageview');

  %body
    / Dirty but I can't figure out how to deal with the scroll caused by the
    / background setup otherwise.
    .spacer

    .container
      #header
        - 3.times do |i|
          .middle
            %a{ href: '/' }
              %span{ class: "pellet pellet-#{i}" }

        .statusline
          %span
            %a{ href: 'mailto:hello@jamesnewton.com' } hello@jamesnewton.com: ~

      %section#about
        %header
          Hi, I&rsquo;m
          = succeed '.' do
            %span James Newton

        %p I&rsquo;m a software developer in Orlando, FL, who loves working with people to solve problems.
        %p A polyglot at heart, learning is my passion. I enjoy taking on projects in new languages and frameworks to build my stack.

        %p If you&rsquo;re looking to fill a developer role, email me today.

        %a{ href: 'emailto:hello@jamesnewton.com?subject=Work opportunity' } Contact me

      .cmd
        %span ~$ cat skills.txt

      %section#skills
        .languages.flex
          .language.box
            %span.lang-ruby Ruby
            %ul
              %li Ruby on Rails
              %li Sinatra
              %li Gem

          .language.box
            %span.lang-js JavaScript
            %ul
              %li jQuery

          .language.box
            %span.lang-node Node
            %ul
              %li npm
              %li Express

          .language.box
            %span.other Other
            %ul
              %li Python

          .language.box
            %span.learning Learning
            %ul
              %li Go

          .language.box
            %span.tools Tools
            %ul
              %li Vim
              %li Git, Mercurial
              %li Docker
              %li Linux (DevOps)

      .cmd
        %span ~$ vim work.md

      %section#history
        .job.flex
          .info.box
            .pad
              .company
                %span IZEA
                %span.time (2016 &mdash; Current)

              .description
                .title
                  %span Software Engineer

                %p IZEA connects brands with influential content creators and publishers.

                %p At IZEA I work on the backend Rails API that powers the IZEA Exchange platform.

          .tech.box
            %span Technologies
            %ul
              %li
                %span Ember.js
              %li
                %span JavaScript
              %li
                %span Ruby, Rails

        .job.flex
          .info.box
            .pad
              .company
                %span Code School
                %span.time (2014 &mdash; 2016)

              .description
                .title
                  %span Software Engineer II

                %p Code School, recently acquired by Pluralsight, is an interactive learning platform based in Orlando, FL.

                %p I implemented challenges for courses like Surviving APIs with Rails, Staying Sharp with Angular.js, and more. In addition, I wrote the Python code executor that powers Try Python and Flying Through Python, and contributed to the backend and Angular.js code for JavaScript.com&rsquo;s Try JavaScript.

          .tech.box
            %span Technologies
            %ul
              %li
                %span Angular.js
              %li
                %span JavaScript, jQuery
              %li
                %span Node, Express
              %li
                %span Python
              %li
                %span Ruby, Rails

        .job.flex
          .info.box
            .pad
              .company
                %span Chargify
                %span.time (2012 &mdash; 2014)

              .description
                .title
                  %span Tech Support Developer

                %p As the first hire of Tier 2 support, I was responsible for helping customers and developers with platform issues at Chargify, a recurring payment system. I also developed features for the payment gateway integration, as well as the original implementation of the eWay gateway the company used with <abbr title='Private. Not the version that made it into the official ActiveMerchant'>ActiveMerchant</abbr>.

          .tech.box
            %span Technologies
            %ul
              %li
                %span JavaScript, jQuery
              %li
                %span Ruby, Rails, Gem

        .job.flex
          .info.box
            .pad
              .company
                %span CYber SYtes
                %span.time (2011 &mdash; 2012)

              .description
                .title
                  %span Support

                %p I was responsible for various programming, debugging, and a wide range of support tasks while working in the support department at this small website shop.

          .tech.box
            %span Technologies
            %ul
              %li
                %span Perl
              %li
                %span PHP, WordPress

        .job.flex
          .info.box
            .pad
              .company
                %span WhatPulse
                %span.time (2011 &mdash; Present)

              .description
                .title
                  %span Contributor

                %p As a fan of data-driven software, I&rsquo;ve contributed to WhatPulse for several years, in the form of backend work, JavaScript, and consulting.

          .tech.box
            %span Technologies
            %ul
              %li
                %span JavaScript, jQuery
              %li
                %span PHP, Custom framework

        .job.flex
          .info.box
            .pad
              .company
                %span GitLab
                %span.time (2015 &mdash; Present)

              .description
                .title
                  %span Contributor

                %p I&rsquo;m a member of the core team of volunteers for GitLab, having contributed and been recognized for supporting users in the #gitlab IRC channel for the past several years.

          .tech.box
            %span Technologies
            %ul
              %li
                %span Ruby, Rails

      .cmd
        %span ~$ lynx

      %section#social
        .link
          %a{ href: 'https://github.com/jameswritescode' }
            %span.name GitHub

            %p See my public project activity.

        .link
          %a{ href: 'https://twitter.com/jameswritescode' }
            %span.name Twitter

            %p You should follow me if you like tweets about cats.

        .link
          %a{ href: 'https://www.linkedin.com/in/jameswritescode' }
            %span.name LinkedIn

            %p I am highly endorsed for my skills in emoji.

      %section#contact
        %p
          Let&rsquo;s talk about how I can contribute to your development team.

          %a{ href: 'mailto:hello@jamesnewton.com?subject=Work opportunity'} Email me today.
