html, body,
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-style: normal;
}

section, p, header {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

strong {
  font-weight: 400;
}

p {
  font-size: 24px;
  font-weight: 100;
}

div.center {
  max-width: 800px;
  width: auto;
  margin: 0 auto;
}

section#presenting-james-newton {
  color: #444;
}

  section#presenting-james-newton header {
    font-size: 72px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 -1px 0 black;
  }

  section#presenting-james-newton p {
    text-align: center;
  }

section#about {
  background-color: #444;
  color: white;
}

  .typed-cursor {
    display: none;
  }

  span.typed {
    font-weight: bold;
  }

  section#about a {
    color: #ff6161;
    text-decoration: none;
    font-weight: 300;
  }

  section#about p {
    margin-bottom: 10px;
    line-height: 40px;
  }

    section#about p:last-child {
      margin: 0;
    }

section#twitter {
  background-color: #ff6161;
  font-family: 'ff-tisa-web-pro', serif;
  font-weight: 400;
  padding: 0;
}

  section#twitter p {
    font-size: 36px;
    padding-bottom: 10px;
    text-align: center;
  }

  section#twitter div.by {
    font-size: 30px;
    text-align: center;
  }

  section#twitter a {
    display: block;
    text-decoration: none;
    color: #444;
    padding-top: 100px;
    padding-bottom: 100px;
    transition: background-color .5s ease-in-out;
  }

    section#twitter a:hover {
      background-color: #ff5757;
    }

section#blog {}

  section#blog h1 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #444;
    padding-bottom: 15px;
  }

  section#blog article {}

    section#blog article a {
      color: black;
      font-weight: 400;
    }

    section#blog article header {
      font-weight: 700;
      font-size: 24px;
      color: #444;
      padding-bottom: 15px;
    }

    section#blog article p {
      line-height: 36px;
      padding-bottom: 15px;
    }

      section#blog article p:last-child {
        padding: 0;
      }

      section#blog article p:last-child a {
        text-transform: uppercase;
        font-weight: 700;
      }

section#projects {}

  section#projects h1 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #444;
    padding-bottom: 15px;
  }

  section#projects a {
    color: black;
    font-weight: 400;
  }

  section#projects p.involvement {
    line-height: 36px;
    padding-bottom: 20px;
  }

  section#projects div.projects-row {
    display: flex;
    margin-bottom: 20px;
  }

    section#projects div.projects-row a {
      flex: 1;
      text-decoration: none;
    }

  @media only screen and (max-device-width: 500px) {
    section#projects div.projects-row {
      display: block;
    }

      section#projects div.projects-row header {
        margin-top: 20px;
      }
  }

  section#projects article {}

    section#projects article p {
      line-height: 36px;
    }

    section#projects article header {
      font-weight: 700;
      font-size: 24px;
      color: #444;
      margin-bottom: 10px;
    }

      section#projects article header span {
        border-bottom: 2px solid #444;
      }

  section#projects div.github-promo {
    clear: both;
  }

    section#projects div.github-promo p {
      line-height: 36px;
    }


section#contact {
  background-color: #444;
  color: white;
  text-align: center;
}

  section#contact a {
    color: #ff6161;
    text-decoration: none;
    font-weight: 300;
  }

  section#contact p {
    margin-bottom: 10px;
    line-height: 40px;
  }

    section#contact p:last-child {
      margin: 0;
    }
